//
// Messages - Config. Animations
//

@keyframes slide-open-animation {

    from {
        right: -100%;
    }

    to {
        right: 1rem;
    }
}

@keyframes slide-close-animation {

    from {
        right: 1rem;
    }

    to {
        right: -100%;
    }
}
