//
// Messages - Config. Variables
//

// Varients
$messages-varient-default-color: #b4b4b4;
$messages-varient-error-color: #b62828;
$messages-varient-success-color: #51ad1b;
$messages-varient-warning-color: #dfbb1d;

// Toasts
$messages-toast-bg-color: #ffffff;
$messages-toast-text-color: #333333;
