<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>Messages Toasts | Elementis</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/lib/core/styles/dependencies.css" media="all">
    <link rel="stylesheet" type="text/css" href="/lib/theme-example/styles/example.css" media="all">
    <link rel="stylesheet" type="text/css" href="/lib/messages/styles/messages.css" media="all">
</head>

<body class="demo-bg-dark">
    <div class="toasts">
        <div class="toast">
            <p>Default message</p>
        </div>
        <div class="toast" data-toast='{"autoOpen": true, "delay": 5}'>
            <p>A <a href="#" class="link">long message</a> with a default look to check if everything will look good, even with a long sentence and some action.</p>
        </div>
        <div class="toast warning" data-toast='{"autoOpen": true}'>
            <p>A  <a href="#" class="link">warning message</a> to check if everything will look good, even with a long sentence and some action.</p>
        </div>
        <div class="toast error" data-toast='{"autoOpen": true}'>
            <p>A  <a href="#" class="link">error message</a> to check if everything will look good, even with a long sentence and some action.</p>
        </div>
        <div class="toast success" data-toast='{"autoOpen": true}'>
            <p>A  <a href="#" class="link">success message</a> to check if everything will look good, even with a long sentence and some action.</p>
        </div>
    </div>

    <script src="/lib/core/scripts/dependencies.js"></script>
    <script src="/lib/messages/scripts/messages.js"></script>
</body>
</html>
