//
// Site Example - Config Variables
//

// Layout
$siteexample-bg-color: #322638;
$siteexample-text-color: #8e8997;
$siteexample-title-color: #b895e0;
$siteexample-border-color: #594d67;

// Icon
$siteexample-icon-primary-color: #b895e0;
$siteexample-icon-secondary-color: #594d67;

// Tiles
$siteexample-tiles-item-bg-color: #4a3852;
$siteexample-tiles-item-link-color: #ffffff;
$siteexample-tiles-item-link-hover-color: #b895e0;
