//
// Theme Example - Icons
//

.icon-logo {
    width: 200px;
    color: $theme-landing-icon-primary-color;

    .line {
        transform-origin: 50%;
        animation: beats-animation 500ms ease-in-out infinite alternate;
        stroke: $theme-landing-icon-secondary-color;
    }

    .circle {
        fill: currentColor;
    }
}

.icon-construction {
    width: 130px;
    color: $theme-landing-icon-primary-color;

    .board {
        transform-origin: 50%;
        animation: shake-animation 100ms ease-in-out infinite alternate;
        fill: currentColor;
    }

    .foot {
        fill: $theme-landing-icon-secondary-color;
    }

    &:hover .board {
        animation-duration: 50ms;
    }
}
