<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>Coming soon | Elementis</title>

    <meta name="robots" content="index,follow">
    <meta name="description" content="We are making this website more awesome.">
    <meta name="keywords" content="coming, soon, under, construction, page, template, product, app, promos">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TWITTER - https://dev.twitter.com/cards/overview -->
    <meta name="twitter:card" content="summary_large_image">
    <!-- <meta name="twitter:site" content="@username"> -->
    <meta name="twitter:title" content="Coming soon | Elementis">
    <meta name="twitter:description" content="We are making this website more awesome.">
    <meta name="twitter:image" content="/lib/core/images/sharing-large.jpg"> <!-- 1200x630 -->

    <!-- FACEBOOK - http://ogp.me -->
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en">
    <meta property="og:title" content="Coming soon | Elementis">
    <meta property="og:description" content="We are making this website more awesome.">
    <!-- <meta property="og:url" content="http://www.domain.tld/path/to/master-copy.html"> -->
    <meta property="og:image" content="/lib/core/images/sharing-large.jpg">
    <meta property="og:image" content="/lib/core/images/sharing-small.jpg"> <!-- 600x315 -->

    <link rel="icon" type="image/png" sizes="32x32" href="/lib/core/images/favicon-32.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/lib/core/images/icon-60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/lib/core/images/icon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/lib/core/images/icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/lib/core/images/icon-152.png">
    <link rel="shortcut icon" sizes="196x196" href="/lib/core/images/icon-196.png">

    <link rel="stylesheet" type="text/css" href="/lib/core/styles/dependencies.css" media="all">
    <link rel="stylesheet" type="text/css" href="/lib/site-example/styles/landing.css" media="all">
</head>

<body>
    <main id="main">
        <svg class="icon-logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 300 300" xml:space="preserve">
            <g>
                <ellipse class="ico-line" fill="none" stroke-width="14" ry="142" rx="142" cy="150.453125" cx="150.5"/>
                <ellipse class="ico-circle" ry="106.500001" rx="106.500001" cy="150.453124" cx="150.500001"/>
            </g>
        </svg>
        <div class="content">
            <h1>Website Coming Soon</h1>
            <p>
                We are making this website more awesome and will launch soon.
            </p>
            <hr>
            <div class="tiles">
                <a href="#" class="tile">Get news on Facebook</a>
                <a href="#" class="tile">Follow us on Twitter</a>
            </div>
        </div>
    </main>

    <link rel="stylesheet" type="text/css" href="/lib/core/scripts/dependencies.js" media="all">
</body>
</html>
