<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>Maintenance Ongoing | Elementis</title>

    <meta name="robots" content="noindex,nofollow">
    <meta name="description" content="We'll be back soon. Thank you!">
    <meta name="keywords" content="coming, soon, under, construction, page, template, product, app, promos">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TWITTER - https://dev.twitter.com/cards/overview -->
    <meta name="twitter:card" content="summary_large_image">
    <!-- <meta name="twitter:site" content="@username"> -->
    <meta name="twitter:title" content="Maintenance | Elementis">
    <meta name="twitter:description" content="We'll be back soon. Thank you!">
    <meta name="twitter:image" content="/lib/core/images/sharing-large.jpg"> <!-- 1200x630 -->

    <!-- FACEBOOK - http://ogp.me -->
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en">
    <meta property="og:title" content="Maintenance | Elementis">
    <meta property="og:description" content="We'll be back soon. Thank you!">
    <!-- <meta property="og:url" content="http://www.domain.tld/path/to/master-copy.html"> -->
    <meta property="og:image" content="/lib/core/images/sharing-large.jpg">
    <meta property="og:image" content="/lib/core/images/sharing-small.jpg"> <!-- 600x315 -->

    <link rel="icon" type="image/png" sizes="32x32" href="/lib/core/images/favicon-32.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/lib/core/images/icon-60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/lib/core/images/icon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/lib/core/images/icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/lib/core/images/icon-152.png">
    <link rel="shortcut icon" sizes="196x196" href="/lib/core/images/icon-196.png">

    <link rel="stylesheet" type="text/css" href="/lib/core/styles/dependencies.css" media="all">
    <link rel="stylesheet" type="text/css" href="/lib/site-example/styles/landing.css" media="all">
</head>

<body>
    <main id="main">
        <svg class="icon-construction" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 295 295" xml:space="preserve">
            <g>
                <path class="ico-foot" d="M250.4,214.8V288c0,1.2-0.8,2-2,2h-29.2c-1.2,0-2-0.8-2-2v-73.2c0-1.2,0.8-2,2-2h29.2
                    C249.2,212.4,250.4,213.6,250.4,214.8z M250.4,108v33.2c0,1.2-0.8,2-2,2h-29.2c-1.2,0-2-0.8-2-2V108c0-1.2,0.8-2,2-2h29.2
                    C249.2,106,250.4,107.2,250.4,108z M78.4,214.8V288c0,1.2-0.8,2-2,2H47.2c-1.2,0-2-0.8-2-2v-73.2c0-1.2,0.8-2,2-2h29.2
                    C77.6,212.4,78.4,213.6,78.4,214.8z M78.4,108v33.2c0,1.2-0.8,2-2,2H47.2c-1.2,0-2-0.8-2-2V108c0-1.2,0.8-2,2-2h29.2
                    C77.6,106,78.4,107.2,78.4,108z M58.8,5.2h5.6c4,0,7.2,1.6,10,4l0,0l0,0l0,0c2.4,2.4,4,6,4,10v15.6c0,1.2-0.8,2-2,2H47.2
                    c-1.2,0-2-0.8-2-2V19.2c0-4,1.6-7.2,4-10C51.6,6.8,55.2,5.2,58.8,5.2z M230.8,5.2h5.6c4,0,7.2,1.6,10,4l0,0l0,0l0,0
                    c2.4,2.4,4,6,4,10v15.6c0,1.2-0.8,2-2,2h-29.2c-1.2,0-2-0.8-2-2V19.2c0-4,1.6-7.2,4-10C223.2,6.8,226.8,5.2,230.8,5.2z" />
                <path class="ico-board" d="M12,34.8h271.2c6.4,0,12,5.2,12,12v49.6c0,6.4-5.2,12-12,12H12c-6.4,0-12-5.2-12-12V46.8
                        C0,40.4,5.6,34.8,12,34.8z" />
                <path class="ico-board" d="M12,141.2h271.2c6.4,0,12,5.2,12,12v49.6c0,6.4-5.2,12-12,12H12c-6.4,0-12-5.2-12-12v-49.6
                        C0,146.8,5.6,141.2,12,141.2z" />
            </g>
        </svg>
        <hr>
        <div class="content">
            <h1>Site Down For Maintenance</h1>
            <p>
                Keep calm! We are making improvements.<br>
                We'll be back soon. Thank you!
            </p>
        </div>
    </main>

    <link rel="stylesheet" type="text/css" href="/lib/core/scripts/dependencies.js" media="all">
</body>
</html>
